{% extends "base.html" %}

{% block contenido %}

<section class="contenedor">

    <h1>
        Evaluaciones
    </h1>

    <table class="tabla">

        <thead>

            <tr>

                <th>Candidato</th>

                <th>Búsqueda</th>

                <th>Evaluador</th>

                <th>Resultado</th>

                <th>Puntuación</th>

            </tr>

        </thead>

        <tbody id="tabla-evaluaciones">

            <tr>

                <td colspan="5">

                    No hay evaluaciones registradas.

                </td>

            </tr>

        </tbody>

    </table>

</section>

{% endblock %}
